* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.head {
    position: relative;
    height: 75px;
    display: flex;
    /* background-color: pink; */
    border-bottom: 1px solid #ccc;
}
/* 左侧 */
.fl img {
    width: 100px;
    height: 50px;
    margin: 12px 10px 0;
}
.fl>ul {
    position: absolute;
    width: 700px;
    height: 50px;
    /* background-color: skyblue; */
    left: 150px;  
    top: 12px;
}
.fl>ul>li {
    float: left;  
    width: 50px;
    padding:12px;
}
.fl>ul>li>a {
    /* display: block; */
    font-size: 16px;
    color: rgb(72, 67, 67);
    text-decoration: none;
}
.fl>ul>li>a:hover {
    border-bottom: 1px solid rgb(78, 73, 73);
}
.updown-menu ul{
    display: none;
    width: 50px;
    height: 150px;
    background-color: orange;
}

.updown-menu a {
    display: block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    color: #333;
    text-align: center;
}
.updown-menu a:hover {
    background-color: #ccc;
}

/* 右侧 */
/* .fr {
    position: relative;
} */
.fr {
    background-color: black;
}

.fr .search {
    /* float: right; */
    background-color: transparent;
    position: absolute;
    right: 167px;
    top: 17px;
    width: 375px;
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    background-color: #f4f4f4;
}
.search input {
    /* float: left; */
    width: 300px;
    height: 100%;
    padding-left: 10px;
    background-color: #f4f4f4;
    /* border: none; */
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-indent: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 2px;
}
.search input::placeholder {
    color: #3333
}
.search input:focus {
    color: #a262ad;
    /* 消去边框 */
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: 0.5s;
}

.search button{
    float: left;
    width: 40px;
    height: 100%;
    background-color: #f4f4f4;
    cursor: pointer;
    border: none;
}
.fr .login {
    /* float: right; */
    position: absolute;
    top: 22px;
    left: 93%;
    width: 90px;
    height: 50px;
    /* background: pink; */
}
.fr .login a {
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 7px;
    color: #333;
}
.fr .login a:hover{
    text-decoration: underline;
}
/* 底部 */

.w {
    width: 1200px;
    margin: 0 auto;
}
.footer {
    height: 415px;
    background-color: #f9f9f9;
    padding-top: 30px;
}
.footer a {
   color: #333; 
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}
html, body {
    /* 和父元素的一样高，body 的父亲是 html，html 的父亲是浏览器窗口 */
    height: 100%;
    /* 页面背景 */
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}